.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 160px;
    height: 160px;
    background-color: rgba(83, 187, 19, 0.1);
}

.ChartSelector{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
}

@media (max-width: 1100px) and (min-width: 768px) {
    .btn {
      gap: 10px;
    }
  
    .ChartSelector {
      gap: 24px;
      flex-wrap: wrap; /* Якщо елементів багато, можна дозволити перенесення */
      justify-content: center;
    }
  }
  