.MainPage {
  background-image: url("/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 64px;
  gap: 16px;
  overflow-y: hidden;
}

.desc {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  max-width: 700px;
}

.btn {
  padding: 16px 48.5px;
  border-radius: 200px;
  border: none;
  background-color: #618b35;
  color: #f7f7f7;
  max-width: 173px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear, transform 0.2s ease;
}

.btn:hover {
  background-color: #4a6b2b;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear, transform 0.2s ease;
  transform: scale(1.03);
}
