.MainBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 1300px;
}

.container{
    margin: auto;
    width: 100%;
    min-height: 300px;
}