

.AnalyticPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
}

.AnalyticPage > * {
  position: relative;
}

.AnalyticPage {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  overflow-x: hidden;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .AnalyticPage {
    padding: 40px 100px;
  }
}

@media (min-width: 1440px) {
  .AnalyticPage {
    padding: 40px 200px;
  }
}
